body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark-mode a {
  color: #6575ff;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #333;
}

body.dark-mode .bg-light {
  background-color: #1e1e1e !important;
}

.logo {
  color: #000000;
}

footer {
  background-color: #f0f0f0;
  color: #000000;
}